/**************************/
/* BELLOW 81 * 16= 1296px (Smaller desktops) */
/**************************/
@media(max-width:81em) {

  html {
    font-size: 56.25%;
  }



  .heading-primary {
    font-size: 7.4rem;
  }

  .nav-link:link,
  .nav-link:visited {
    color: #fff;
    text-decoration: none;
    padding: 100rem 1.4rem 1.4rem 1.4rem;
  }


  .login-part {
    margin-left: 3.2rem;
  }

  .pagination {
    gap: 3.2rem;
  }


}

/**************************/
/* BELLOW 72 * 16= 1152px (LandspaceTablets) */
/**************************/
@media(max-width:72em) {
  html {
    font-size: 50%;
  }

  .page-entry {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .featured-left:link,
  .featured-left:visited {
    left: -2%;
  }

  .featured-right:link,
  .featured-right:visited {
    right:
      -7%;
  }

  .cars {
    gap: 3.2rem;
  }

}
  }
}

/*
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- 07 WHITESPACE  
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/