/**************************/
/* BELLOW 81 * 16= 1296px (Smaller desktops) */
/**************************/
@media(max-width:81em) {

  html {
    font-size: 56.25%;
  }



  .heading-primary {
    font-size: 7.4rem;
  }

  .nav-link:link,
  .nav-link:visited {
    color: #fff;
    text-decoration: none;
    padding: 100rem 1.4rem 1.4rem 1.4rem;
  }


  .login-part {
    margin-left: 3.2rem;
  }

  .pagination {
    gap: 3.2rem;
  }


}

/**************************/
/* BELLOW 72 * 16= 1152px (LandspaceTablets) */
/**************************/
@media(max-width:72em) {
  html {
    font-size: 50%;
  }

  .page-entry {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .featured-left:link,
  .featured-left:visited {
    left: -2%;
  }

  .featured-right:link,
  .featured-right:visited {
    right:
      -7%;
  }

  .cars {
    gap: 3.2rem;
  }

}

/**************************/
/* BELLOW 60 * 16= 960px (Tablets) */
/**************************/
@media(max-width:62em) {

  .heading-box {
    padding: 3.2rem;
  }

  .cars {
    padding: 4.8rem;
  }

  .featured-left:link,
  .featured-left:visited {
    display: none;
  }

  .featured-right:link,
  .featured-right:visited {
    display: none;
  }

  /* .btn-search {
    font-size: 2rem;
    width: 25%;
    text-transform: capitalize;
    padding: 1.2rem 2.4rem;
    grid-column: -2/-1;
    justify-self: center;
  } */

  .footer-contact {
    width: 65%;
  }


  /* MOBILE */
  .btn-mobile-nav {
    z-index: 3;
  }


  .main-nav {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .nav-list {

    background-color: #000;
    width: 100%;
    height: 100vh;
    padding: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;

  }

  .nav-link:link,
  .nav-link:visited {
    padding: 1.4rem;
    transition: all 0.3s;
  }

  .nav-link:hover,
  .nav-link:active {
    color: #fff;
  }

  .btn-mobile-nav {
    display: block;
  }

  #checkbox-menu:checked~.main-nav {
    display: block;
  }



  /*
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- 07 WHITESPACE  
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/