/*
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- 07 WHITESPACE  
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* SECTION HERO */
/**************************/
.hero {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: center;
}

.header {
  padding: 3.2rem 4.8rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.logo:link,
.logo:visited {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
}


.nav-list {
  font-size: 1.6rem;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1.2rem;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  text-decoration: none;
  padding: 100rem 1.6rem 1.6rem 1.6rem;
}

.nav-link:hover,
.nav-link:visited {
  background-color: #02dd1b;
}

.login-part {
  display: flex;
  gap: 1.2rem;
  margin-left: 4.8rem;
}

.nav-icon {
  width: 2rem;
  height: 2rem;
}

.nav-link:focus {
  outline: none;
  background-color: #02dd1b;
}

/*? PAGE ENTRY */

.page-entry {
  margin-top: 12.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* heading-box  */
.heading-box {
  height: auto;
  padding: 0 3.2rem;
}

.heading-primary {
  color: #fff;
  letter-spacing: -0.75px;
  font-size: 8rem;
  line-height: 1.05;
  margin-bottom: 9.6rem;
}

/* pagination-box */
.pagination-box {
  padding: 0 3.2rem;
  align-self: flex-end;
}

.pagination {
  font-size: 1.6rem;
  padding-right: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 4.8rem;

  position: absolute;
  bottom: 0;
  right: 0;
}

.number:link,
.number:visited {
  color: #fff;
  font-weight: 500;
  padding: 1.2rem;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: all 0.3s;
}

.number:hover,
.number:active {
  background-color: #02dd1b;
}

.pagination-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.arrows {
  padding: 1.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.arrow-left:link,
.arrow-left:visited {
  color: #fff;
  background-color: #02dd1b;
  padding: 1.6rem;
  border-radius: 50%;
  transition: all 0.3s;
}


.arrow-right:link,
.arrow-right:active {
  color: #000;
  background-color: #e6e6e6;
  padding: 1.6rem;
  border-radius: 50%;
  transition: all 0.3s;
}

/**************************/
/* SECTION FIND */
/**************************/

.section-find {
  padding: 4.8rem 9.6rem 9.6rem 9.6rem;
  background-color: #f7f7f7;
}

.find-car {
  background-color: #fff;
  max-width: 110rem;
  margin: 0 auto;
  padding: 3.2rem 6.4rem;
}

.heading-find {
  color: #02dd1b;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.75px;
  margin-bottom: 1.2rem;
}

.find-form {
  column-gap: 3.2rem;
}

.find-form input,
.find-form select {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem;
  width: 100%;
  border: 1px solid #777;
}

.btn-search {
  font-size: 2rem;
  width: 50%;
  text-transform: capitalize;
  padding: 1.2rem 2.4rem;
  margin-top: 1.2rem;
  grid-column: -2/-1;
  justify-self: right;
}